.text-primary {
  color: var(--text-primary) !important;
}

.second-color--primary #second-color {
  color: red !important;
  stroke: red !important;
}

:root {
  --ui-warning: #92f18c;
  --cup-color: #92f18c;
}

.text-secondary {
  color: var(--text-secondary) !important;
}

.text-ui-warning {
  color: var(--ui-warning) !important;
}

.text-ui-active {
  color: var(--ui-active) !important;
}

.bg-card {
  background-color: var(--bg-card);
}
